body {
    background-color: #ebebeb;
}

.heading {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
}

.content {
    color: #3e8fde;
}

#poster {
    max-height: 200px;
    max-width: 200px;
}

#description {
    margin-top: 10px;
}

.ui.container {
    margin-top: 20px;
}
